@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Galmuri9";
  src: url("/Galmuri9.woff2");
}

@font-face {
  font-family: "RoboRobo";
  src: url("/pixelroborobo.otf");
}

@layer components {
  .card {
    @apply glass-backdrop rounded-[26px] bg-white shadow-[35px_35px_68px_0px_rgba(120,120,120,0.5),inset_-5px_-5px_16px_0px_rgba(120,120,120,0.6),inset_0px_11px_28px_0px_rgb(255,255,255)] backdrop-blur-[5px];
  }
  .glass-morphism {
    @apply glass-backdrop border border-solid border-[rgba(255,255,255,0.18)] bg-white/25 shadow-[0_8px_32px_0_#35353574] backdrop-blur-[7.5px];
  }

  .neumorphism-shadow {
    @apply shadow-[35px_35px_68px_0px_rgba(104,104,104,0.5),inset_-8px_-8px_16px_0px_rgba(104,104,104,0.6),inset_0px_11px_28px_0px_rgb(255,255,255)];
  }

  .neo-hover {
    @apply translate-x-[3px] translate-y-[3px] shadow-none transition-all duration-150 ease-in-out;
  }
}

@layer utilities {
  .glass-backdrop {
    -webkit-backdrop-filter: blur(7.5px);
  }
}
